

body {
	font-family: 'Alata', Rockwell, Tahoma, sans-serif;
	background-color: #fffff9;
}

a, a:onclick {
	text-decoration: none;
	color: #000;
}

#TopLine {
	font-size: 40px;
	float: left;
	color: #fffff9;
	position: absolute;
	left: 40px;
	top: 20%;
	text-decoration: underline;
	text-decoration-color: #b2b1b1;
}

.header {
	height: 20vh;
	max-width: 100%;
	position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #9dabdf;
    z-index: 10000;
    border-bottom: 1px solid #bbbbbb;
}

.Spaced {
	height: 150px;
	max-width: 100%;
	background-color: transparent;
}

.follows {
	display: block;
	font-size: 30px;
	color: #1a2327;
	text-decoration: none;
	width: 50vw;
}

.follows:hover {
	color: #fff;
	font-size: 35px;
	border: 1px dashed #fff;
} 

.centered {
	height: auto;
	width: 1300px;
	display: block;
	margin: auto;
	bottom: 20px;
	background-color: #7bb3ff;
	border: 2px solid #b9daee;
	border-radius: 2%;
}

.MyFace {
	display: block;
	margin: auto;
	height: 300px;
	width: 300px;
}

.BoxedIn {
	height: auto;
	width: 600px;
	margin: auto;
	text-align: center;
	background-color: transparent;
}

.Declaration {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}

.SndDeclaration {
	font-size: 35px;
	text-align: center;
	text-decoration: none;
}

.SomeText {
	font-size: 20px;
}

.ScreenShot {
	width: 500px;
	height: auto;
	position: relative;
	left: 20px;
	float: none;
	border: 2px solid #000;	
}

.SubTitle {
	font-size: 30px;
	text-decoration: none;
	text-align: left;
	position: relative;
	left: 20px;
	color: #7bb3ff;
}