

body {
	font-family: 'Alata', Rockwell, Tahoma, sans-serif;
	background-color: #fffff9;
}

a, a:onclick {
	text-decoration: none;
	color: #000;
}

#TopLine {
	font-size: 40px;
	float: left;
	color: #fffff9;
	position: absolute;
	left: 40px;
	top: 20%;
	text-decoration: underline;
	text-decoration-color: #b2b1b1;
}

.header {
	height: 20vh;
	max-width: 100%;
	position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #9dabdf;
    z-index: 10000;
    border-bottom: 1px solid #bbbbbb;
}

.Spaced {
	height: 20vh;
	max-width: 100%;
	background-color: transparent;
	position: relative;
	top: 0vh;
}

.follows {
	display: inline-block;
    text-align: left;
	font-size: 30px;
	color: #1a2327;
	text-decoration: underline;
	width: auto;
	font-family: 'Tomorrow', Arial, sans-serif, serif;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 10px;
}

/*
.follows:hover {
	color: #fff;
	font-size: 35px;
	border: 1px dashed #fff;
	padding-bottom: 20px;
}  */

.middle-dot {
	position: relative;
	font-size: 30px;
	color: #1a2327;
	text-align: left;
	display: inline-block;
}

.opener {
	font-size: 20px;
	transform: rotate(90deg);
	position: relative;
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	background-color: transparent;
}

.opener:hover {border-width: 3px;}

.opener:active {background-color: #fff; color: #000;}

.centered {
	height: auto;
	width: 95vw;
	display: block;
	margin: auto;
	padding-bottom: 10vh;
	bottom: 20px;
	background-color: #7bb3ff;
	border: 2px solid #b9daee;
	border-radius: 35px;
}

.MyFace {
	display: block;
	margin: auto;
	height: 300px;
	width: 300px;
}

.BoxedIn {
	height: auto;
	width: 600px;
	margin: auto;
	text-align: center;
	background-color: transparent;
}

.Declaration {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}

.SndDeclaration {
	font-size: 35px;
	text-align: center;
	text-decoration: none;
}

.SomeText {
	font-size: 20px;
	font-family: 'Ibarra Real Nova', sans-serif, serif;
}

.ScreenShot {
	width: 500px;
	height: auto;
	position: relative;
	left: 20px;
	float: none;
	border: 2px solid #000;	
}

.SubTitle {
	font-size: 30px;
	text-decoration: none;
	text-align: left;
	position: relative;
	left: 20px;
	color: #7bb3ff;
}